body {
    margin: 0;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

html,
body {
    height: 100%;
}

/* These styles disable body scrolling if you are using <ScrollView> */
body {
    overflow: hidden;
}

/* These styles make the root element full-height */
#root {
    display: flex;
    height: 100%;
}

/* For landing page fonts */
@font-face {
    font-family: 'Montserrat';
    src: url('./Assets/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
}
